{{define "base"}}<!doctype html>

<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Geheim</title>
<meta name="description" content="Geheim -  Passwörter sicher versenden">
<meta name="author" content="Problemli GmbH">
<link rel="stylesheet" href="{{.BaseURL}}/r/styles.css">
<link rel="shortcut icon" href="{{.BaseURL}}/r/favicon.ico" type="image/x-icon">
<link rel="icon" href="{{.BaseURL}}/r/favicon.ico" type="image/x-icon">
<link rel="manifest" href="manifest.json" />
<style>

ul li {
    /* the css isn't templated, need to inject correct baseURL here */
    list-style-image: url({{.BaseURL}}/r/check.png);
}
</style>
<!--[if lt IE 9]>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script>
<![endif]-->
</head>

<body>

<header>
	<h1 id="logo">
        <a style="background-image:url({{.BaseURL}}/r/hand_weiss.svg);"
         href="{{.Home}}/" title="Problemli" >
            Problemli
        </a>
    </h1>
	<menu id="menu">
		<ul>
			<li><a href="{{.Home}}/" title="Start">Start</a></li>
<!--
			<li><a href="{{.Home}}/i" title="17 Gründe">17 Gründe</a></li> -->
			<li><a href="https://problem.li" title="Problemli">Problemli</a></li>
		</ul>
	</menu>
</header>

<main>
	<h2 id="intro">GEHEIM
        <span>
            Passwörter sicher versenden
        <p>
            Sende ein Passwort, rufe es ab und dann ist es für immer weg.
        </p>
        </span>
    </h2>
	<noscript>
      <p>
        JavaScript is required... I know, I wish it didn't have to be this way
        either 
      </p>
    </noscript>
{{template "body" .}}
</main>

<footer>
    <!--
    <div class="tagline">
        <p>
            Software developed by Aerstone. We are pretty cool. Yes you are, Problem.li, Winterthur CH.
        </p>
    </div>
    -->

    <div class="social inline-bar">


        <div class="left">
            <a class="logo" style="background-image:url({{.BaseURL}}/r/logo-4.png);"
             href="https://problem.li/" target="_blank" title="Problemli" >
            </a>
        </div>

        <div class="right">
            <br/>
               <p> <a href="https://github.com/blemli/geheim3" target="_blank">Quellcode </a> ist öffentlich.&nbsp;</p>
            </div>
		<div class="right">
            <br/>
           <p>Basiert auf <a href="https://github.com/Aerstone/blacknote" target="_blank">Blacknote von Aerstone</a>.&nbsp;</p>
        </div>
		

    </div>

</footer>
<script src="{{.BaseURL}}/r/nacl.min.js"></script>
<script src="{{.BaseURL}}/r/nacl-util.min.js"></script>
<script src="{{.BaseURL}}/r/blacknote.js"></script>
{{if eq .Type `paste`}}
<script>window.onload = function() { blacknote.retrievePaste(); }</script>
{{end}}
</body>
</html>
{{end}}
