{{define "body"}}
    <div id="pre-crypt">
        <textarea class="inp-text" id="plaintext"
            placeholder="Passwort eingeben..."></textarea>
        <button href="#p" 
         onclick="blacknote.genPaste(document.getElementById('plaintext').value); window.location='#p'">
         Verschlüsseln
        </button>

    </div>
    <div id="error" class="hidden">
       <p>ERROR</p> 
    </div>
    <div id="post-crypt" class="hidden">
		<h3>Link erstellt:</h3>
        <p>
            Versende diesen Link. Er kann genau <u>nur einmal angezeigt</u> werden.
        </p>

        <div id="link"></div>
        <div class="inline-bar">
           <div id="select">
                <button onclick="blacknote.copy()" text="Kopieren" id="copyButton" />
                    Kopieren
                </button>
            </div>
            <!-- 
            <div id="select">
                <button onclick="window.location='{{.Home}}/'"> New Paste </button>
            </div>
            -->

        </div>
    </div>
    <hr>
	<section class="about">


        <p>
            Schlüssel werden <strong>niemals</strong> an unsere
            Server gesendet oder dort gespeichert.
        </p>
        <p>
         Wir könnten Ihr Passwort nicht wiederherstellen, selbst wenn wir es wollten.
        </p>
        <p>
            Passwörter werden nach einer Ansicht <strong>dauerhaft</strong> von unseren Servern gelöscht.
        </p>

	</section>
{{end}}
