{{define "body"}}
	<p class="warn" style="text-align: center">
        Dieses Passwort wurde bei uns gelöscht. Es existiert nur noch im Feld unten.<br/>
        Speichern Sie es an einen sicheren Ort.
    </p>
    <p>
        Entschlüsseltes Passwort:
    </p>
	<textarea class="inp-text" id="secret">{{.Ciphertext}}</textarea>
    <div>
        <button onclick="window.location='{{.Home}}/'"> Start </button>
    </div>

    <script>window.onload = function() { blacknote.retrievePaste(); }</script>
{{end}}
